{% extends "sistema/layout.html" %}

{% block body %}

    <h2>Iniciar sesión</h2>

    {% if mensaje %}
        <div>{{ mensaje }}</div>
    {% endif %}

    <form action="{% url 'iniciar_sesion' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="nombre_usuario" placeholder="Usuario">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="contrasena" placeholder="Contraseña">
        </div>
        <input class="btn btn-primary" type="submit" value="Inicia sesión">
    </form>

    No eres parte del sistema? <a href="{% url 'registrarse' %}">Regístrate aquí.</a>

{% endblock %}